params {
    input_dir = "/home/jack/projects/gencode-mouse-orfs/data/Transcriptome"
    output_dir = "./data"   
    mudskipper_index = "$projectDir/data/mus_musculus/mudskipper_index"
    ribocode_annotation = "$projectDir/data/mus_musculus/ribocode_annotation"
    transcriptome_fasta = "$projectDir/data/mus_musculus/transcriptome.fasta"
    txinfo = "$projectDir/data/mus_musculus/txinfo.tsv"
    transcriptomise_bam = false
    genome_fasta = "$projectDir/data/mus_musculus/Mus_musculus.GRCm39.dna.primary_assembly.fa"
    gtf = "$projectDir/data/mus_musculus/Mus_musculus.GRCm39.108_ensembl.gtf"
}